.project__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0;
}

.project__list-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .project__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .project__list {
    grid-template-columns: 1fr;
  }
}
